<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#1E201E"/>
  <link rel="icon" href="../public/images/logo/favicon.png" sizes="192x192">
  <link rel="manifest" href="./manifest.json">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restaurant Apps</title>
</head>
<body>
  <div >
    <a href="#maincontent" class="skip">SKIP TO CONTENT</a>
  </div>
  <header>
    <div class="header_wrap">
      <button class="hamburger">☰</button>
      <img src="./images/logo/logoresown2.png" class="logo" alt="Logo Restaurant">
      <h1 class="title">NyamNyam.EU</h1>
    </div>
  </header>
  <nav>
    <ul class="list">
      <li class="list_item"><a href="#/menu">Home</a></li>
      <li class="list_item"><a href="#/like">Favorite</a></li>
      <li class="list_item"><a href="https://www.linkedin.com/in/hudzwah-dwika-a786952b6">About Us</a></li>
    </ul>
  </nav>
  <main id="mainContent">
    <div class="hero">
      <h2>Nikmati Hidangan Halal Nan Mengenyangkan</h2>
    </div>
    <div class="content">

    </div>
  </main>
  <footer><span>Copyright &copy; 2024 - NyamNyam.Eu</span></footer>
</body>
</html>